<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="font-family:Arial, sans-serif;margin:0;padding:0;background-color:#eeeeee;color:#333;">
<div class="container" style="box-sizing:border-box;width:100%;max-width:600px;margin:0 auto;background-color:#fefefe;padding:5px;border-radius:8px;box-shadow:0 0 10px rgba(0, 0, 0, 0.1);">
  <div style="" th:text="${headerText}">알림이 도착했습니다.&#10;&#13;</div>
  <h1 style="text-align:center;" th:styleappend="${brandName.equals('TJ') ? 'color:#f95001;' : 'color:#6495ed;'}"
      th:text="${brandName + ' 노래방 신곡 목록'}">노래방 신곡 목록</h1>
  <table style="width:100%;border-collapse:collapse;margin-top:20px;">
    <thead>
    <tr>
      <th th:styleappend="${brandName.equals('TJ') ? 'background-color:#f95001;' : 'background-color:#6495ed;'}" style="border:1px solid #aaaaaa;text-align:left;padding:8px;color:white;">&#48264;&#54840;</th>
      <th th:styleappend="${brandName.equals('TJ') ? 'background-color:#f95001;' : 'background-color:#6495ed;'}" style="border:1px solid #aaaaaa;text-align:left;padding:8px;color:white;">&#51228;&#47785;</th>
      <th th:styleappend="${brandName.equals('TJ') ? 'background-color:#f95001;' : 'background-color:#6495ed;'}" style="border:1px solid #aaaaaa;text-align:left;padding:8px;color:white;">&#44032;&#49688;</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="song : ${songs}">
      <td class="song-number" th:text="${song.number}" style="border:1px solid #aaaaaa;text-align:left;padding:8px;font-size:14px;width:8%;">12345</td>
      <td class="song-title" style="border:1px solid #aaaaaa;text-align:left;padding:8px;width:67%;">
        <div class="song-title-text">
          <a th:href="${song.searchUrl}" href="https://www.google.com/search?q=%EC%82%AC%EB%9E%91%EC%9D%98+%EB%B6%88%EC%8B%9C%EC%B0%A9" th:text="${song.title}" style="font-size:17px;color:#111111;font-weight:bold;text-decoration:none;">
            &#45432;&#47000; &#51228;&#47785;
          </a>
        </div>
        <div class="song-info-text" th:text="${song.info}" style="font-size:0.8rem;color:#777;text-indent:0.5rem;">&#52628;&#44032;&#49444;&#47749;</div>
      </td>
      <td class="singer" th:text="${song.singer}" style="border:1px solid #aaaaaa;text-align:left;padding:8px;width:25%;">&#44032;&#49688;&#47749;</td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>